<div class="container">

   <div class="row justify-content-center mt-5 mb-5">
      <div class="col-12 col-md-8 col-md-offset-4 text-center">
         <h2>Great! You're almost in business.</h2>
          <p class="invite-modal__text">To finalize your listing let's share your new catering business with some friends.</p>
      </div>
   </div>

  <div class="row no-gutters">
    <div class="col-12 col-lg-6 invite">
      <h6 class="invite-modal__subtitle">Suggestions</h6>
      <div class="invite-form">
        <% if !@contacts.nil?%>
          <% @contacts.each do |c|%>
            <div class="invite-form__item" onClick=""addRecipient(this.value); return false;">
              <!-- <img src="/images/invite_modal/cust-5.png" srcset="/images/invite_modal/cust-5.png 1x, /images/invite_modal/cust-5@2x.png 2x"  class="img-fluid invite-form__img"> -->
              <input type="checkbox" id="check-invite-1" class="invite-form__checkbox" value="<%= c[:email] %>" onClick="addRecipient(this.value, this.checked);">
              <label for="check-invite-1" class="invite-form__label"><%= c[:name] %> (<%= c[:email]%>)</label>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h6 class="invite-modal__subtitle">Invite friends to Just Booked via email</h6>
      <%= form_tag invites_path, class: "d-flex flex-column js-form-send-invites"  do %>
        <%= hidden_field_tag :fried_emails, '' %>
        <%= invisible_captcha %>
        <input type="email" name="email" placeholder="friend@email.com, colleague@email.com, etc." class="form-control mb-3" >
        <textarea name="massage" rows="6" cols="80" class="form-control mb-3" >Hi, it's Jason. I've recently created a page on justbooked.com to launch my catering business here - and I'd love for you to try one of my dishes.</textarea>
        <button type="submit" data-target="#invite-success-modal" class="btn btn-primary text-uppercase align-self-end">Send invites</button>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>

  'use strict';

  var recipients = new Set();

  // set email hidden field
  function addRecipient(email, checked) {
    if (checked) {
      recipients.add(email);
    } else {
     recipients.delete(email);
    }

    $('#fried_emails').val(Array.from(recipients).join(','));
    console.log($('#fried_emails').val());
  }

  $(document).ready(function() {

  });

<% end %>

