<div class="container-fluid container-orders page-content">
  <div class="d-flex">
    <%= render 'accounts/sidemenu' %>

    <div class="w-80">
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <h4 class="setting-page-title">My Orders</h4>
        <ul class="sorting-links-wrap nav nav-pills" role="tablist">
          <li class="nav-item">
            <a href="#all" data-toggle="pill" class="orders-sorting-link active" role="tab">All</a>
          </li>
          <li class="nav-item">
            <a href="#new" data-toggle="pill" class="orders-sorting-link" role="tab">New</a>
          </li>
          <li class="nav-item">
            <a href="#accepted" data-toggle="pill" class="orders-sorting-link" role="tab">Accepted</a>
          </li>
          <li class="nav-item">
            <a href="#declined" data-toggle="pill" class="orders-sorting-link" role="tab">Declined</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="all" role="tabpanel">
          <% if @all != nil %>
          <% @all.each do |item| %>
            <%
              @sum_quantity = 0
              item.purchase_items.each do |t| 
                @sum_quantity += t.amount
              end
            %>
            <div class="order-card">
              <div class="order-card-header d-flex flex-row justify-content-between align-items-center">
                <h6 class="card-title">Order from&nbsp;<%= item.first_name %></h6>
                  <%= link_to "OPEN", order_details_path(:id => item.id), class: "link-order-details"%>
              </div>
              <div class="order-card-body">
                <div class="row card-category-wrap">
                  <div class="col-2 col-sm-2 col-xl-2 card-category">Request Status</div>
                  <div class="col-2 col-sm-3 col-xl-2 card-category">Payment Status</div>
                  <div class="col-1 col-sm-1 col-xl-1 card-category">From</div>
                  <div class="col-2 col-sm-2 col-xl-2 card-category">Quantity</div>
                  <div class="col-4 col-sm-4 col-xl-5 card-category">Delivery Address and Time</div>
                </div>
                <div class="order-card-border"></div>
                <div class="row card-category-info-wrap">
                  <% if item.request_status == 'New' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-yellow"><%= item.request_status %></div>
                  <% end %>
                  <% if item.request_status == 'Accepted' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-green"><%= item.request_status %></div>
                  <% end %>
                  <% if item.request_status == 'Declined' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-red"><%= item.request_status %></div>
                  <% end %>

                  <div class="col-2 col-sm-3 col-xl-2 card-category-info">IN PROGRESS
                    <span>Charge attempts</span>
                  </div>
                  <div class="col-1 col-sm-1 col-xl-1 card-category-info"><%= item.first_name %></div>
                  <div class="col-2 col-sm-2 col-xl-2 card-category-info"><%= @sum_quantity %></div>
                  <div class="col-4 col-sm-4 col-xl-5 card-category-info"><%= item.delivery_address %>&nbsp;<%= item.order_time %></div>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="new" role="tabpanel">
          <% if @new != nil %>
          <% @new.each do |item| %>
            <%
              @sum_quantity = 0
              item.purchase_items.each do |t| 
                @sum_quantity += t.amount
              end
            %>
            <div class="order-card">
              <div class="order-card-header d-flex flex-row justify-content-between align-items-center">
                <h6 class="card-title">Order from&nbsp;<%= item.first_name %></h6>
                <% if item.request_status == 'New' %>
                  <%= link_to "OPEN", order_details_path(:id => item.id), class: "link-order-details"%>
                <% end %>
              </div>
              <div class="order-card-body">
                <div class="row card-category-wrap">
                  <div class="col-2 col-sm-2 col-xl-2 card-category">Request Status</div>
                  <div class="col-2 col-sm-3 col-xl-2 card-category">Payment Status</div>
                  <div class="col-1 col-sm-1 col-xl-1 card-category">From</div>
                  <div class="col-2 col-sm-2 col-xl-2 card-category">Quantity</div>
                  <div class="col-4 col-sm-4 col-xl-5 card-category">Delivery Address and Time</div>
                </div>
                <div class="order-card-border"></div>
                <div class="row card-category-info-wrap">
                  <% if item.request_status == 'New' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-yellow"><%= item.request_status %></div>
                  <% end %>
                  <% if item.request_status == 'Accepted' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-green"><%= item.request_status %></div>
                  <% end %>
                  <% if item.request_status == 'Declined' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-red"><%= item.request_status %></div>
                  <% end %>
                  <div class="col-2 col-sm-3 col-xl-2 card-category-info">IN PROGRESS
                    <span>Charge attempts</span>
                  </div>
                  <div class="col-1 col-sm-1 col-xl-1 card-category-info"><%= item.first_name %></div>
                  <div class="col-2 col-sm-2 col-xl-2 card-category-info"><%= @sum_quantity %></div>
                  <div class="col-4 col-sm-4 col-xl-5 card-category-info"><%= item.delivery_address %>&nbsp;<%= item.order_time %></div>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>


        <div class="tab-pane fade" id="accepted" role="tabpanel">
          <% if @accepted != nil %>
          <% @accepted.each do |item| %>
            <%
              @sum_quantity = 0
              item.purchase_items.each do |t| 
                @sum_quantity += t.amount
              end
            %>
            <div class="order-card">
              <div class="order-card-header d-flex flex-row justify-content-between align-items-center">
                <h6 class="card-title">Order from&nbsp;<%= item.first_name %></h6>
                  <%= link_to "OPEN", order_details_path(:id => item.id), class: "link-order-details"%>
              </div>
              <div class="order-card-body">
                <div class="row card-category-wrap">
                  <div class="col-2 col-sm-2 col-xl-2 card-category">Request Status</div>
                  <div class="col-2 col-sm-3 col-xl-2 card-category">Payment Status</div>
                  <div class="col-1 col-sm-1 col-xl-1 card-category">From</div>
                  <div class="col-2 col-sm-2 col-xl-2 card-category">Quantity</div>
                  <div class="col-4 col-sm-4 col-xl-5 card-category">Delivery Address and Time</div>
                </div>
                <div class="order-card-border"></div>
                <div class="row card-category-info-wrap">
                  <% if item.request_status == 'New' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-yellow"><%= item.request_status %></div>
                  <% end %>
                  <% if item.request_status == 'Accepted' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-green"><%= item.request_status %></div>
                  <% end %>
                  <% if item.request_status == 'Declined' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-red"><%= item.request_status %></div>
                  <% end %>
                  <div class="col-2 col-sm-3 col-xl-2 card-category-info">IN PROGRESS
                    <span>Charge attempts</span>
                  </div>
                  <div class="col-1 col-sm-1 col-xl-1 card-category-info"><%= item.first_name %></div>
                  <div class="col-2 col-sm-2 col-xl-2 card-category-info"><%= @sum_quantity %></div>
                  <div class="col-4 col-sm-4 col-xl-5 card-category-info"><%= item.delivery_address %>&nbsp;<%= item.order_time %></div>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="declined" role="tabpanel">
          <% if @declined != nil %>
          <% @declined.each do |item| %>
            <%
              @sum_quantity = 0
              item.purchase_items.each do |t| 
                @sum_quantity += t.amount
              end
            %>
            <div class="order-card">
              <div class="order-card-header d-flex flex-row justify-content-between align-items-center">
                <h6 class="card-title">Order from&nbsp;<%= item.first_name %></h6>
                <% if item.request_status == 'New' %>
                  <%= link_to "OPEN", order_details_path(:id => item.id), class: "link-order-details"%>
                <% end %>
              </div>
              <div class="order-card-body">
                <div class="row card-category-wrap">
                  <div class="col-2 col-sm-2 col-xl-2 card-category">Request Status</div>
                  <div class="col-2 col-sm-3 col-xl-2 card-category">Payment Status</div>
                  <div class="col-1 col-sm-1 col-xl-1 card-category">From</div>
                  <div class="col-2 col-sm-2 col-xl-2 card-category">Quantity</div>
                  <div class="col-4 col-sm-4 col-xl-5 card-category">Delivery Address and Time</div>
                </div>
                <div class="order-card-border"></div>
                <div class="row card-category-info-wrap">
                  <% if item.request_status == 'New' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-yellow"><%= item.request_status %></div>
                  <% end %>
                  <% if item.request_status == 'Accepted' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-green"><%= item.request_status %></div>
                  <% end %>
                  <% if item.request_status == 'Declined' %>
                    <div class="col-2 col-sm-2 col-xl-2 card-category-info request-status-red"><%= item.request_status %></div>
                  <% end %>
                  <div class="col-2 col-sm-3 col-xl-2 card-category-info">IN PROGRESS
                    <span>Charge attempts</span>
                  </div>
                  <div class="col-1 col-sm-1 col-xl-1 card-category-info"><%= item.first_name %></div>
                  <div class="col-2 col-sm-2 col-xl-2 card-category-info"><%= @sum_quantity %></div>
                  <div class="col-4 col-sm-4 col-xl-5 card-category-info"><%= item.delivery_address %>&nbsp;<%= item.order_time %></div>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>