<section class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wraper mt-50">

          <div class="hed-login mt-50">
            <div class="wrap-img">
              <img src="/images/brand2.svg" alt="Just Booked" class="img-responsive">
            </div>
            <h5 class="hed-login-text text-center mt-25">Start using Just Booked</h5>
          </div>
          <div class="content-login">
            <div class="row signinErrors"></div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>

              <%= f.submit 'Sign in', class: 'btn btn-primary mb-24 btn-block' %>
              <%= render "api/users/shared/links" %>
            <% end -%>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>