<h4 class="setting-page-title mb-4">Password Settings</h4>

<%= form_for @user, html: {class: "chefs-form"}, url: save_password_account_path, method: :put do |f| %>
  <p><%=@text %></p>
    <!-- <%= render 'nav' %> -->
    <div class="form-group">
	  <label for="">New Password (*)</label>
	  <%= f.password_field :password, class: "form-control", placeholder: "New Password" %>
	</div>
	<div class="form-group">
	  <label for="">Confirm Password (*)</label>
	  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
	</div>

  <div class="row form-group-action">
    <div class="col-12 col-md-6 push-md-6">
      <button type="submit" class="btn btn-primary d-block w-100 text-uppercase">Save</button>
    </div>
  </div> 
<% end %>
